@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

* {
  box-sizing: border-box
}

html, body{
  margin: 0
}

.app {
  display: flex;
  flex-direction: column;
  font-family: 'Gloria Hallelujah', cursive;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  text-align: center;
  background-color: #61dafb;
  background-image: url('./assets/images/fazenda.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
} 
